{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Import Repositories - {{ block.super }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0"><i class="fas fa-download"></i> Import GitHub Repositories</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-download"></i> Import Repositories
                    </button>
                    <a href="{% url 'repos:repository_list' %}" class="btn btn-secondary">
                        <i class="fas fa-times"></i> Cancel
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
